<%#= form_for(@product) do |f| %>
  <%# if @product.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(@product.errors.count, "error") %>-->
<!--        prohibited this product from being saved:</h2>-->
<!--      <ul>-->
        <%# @product.errors.full_messages.each do |msg| %>
<!--          <li><%#= msg %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>
<!--  <div class="form-group">-->
    <%#= f.label :category, :class => "form-label" %>
    <%#= f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true}, :class => "form-control" %>
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <%#= f.label :title, :class => "form-label" %><br>-->
    <%#= f.text_field :title, :class => "form-control shadow-none" %>
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <%#= f.label :description, :class => "form-label" %><br>-->
    <%#= f.text_area :description, rows: 6, :class => "form-control shadow-none" %>
<!--  </div>-->

<!--  <div class="form-group">-->
    <%#= f.label :image,  :class => "form-label" %>
    <%#= f.file_field :image %>
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <%#= f.label :price, :class => "form-label" %><br>-->
    <%#= f.text_field :price, :class => "form-control shadow-none" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit :class => "btn btn-outline-success shadow-none" %>
<!--  </div>-->


<%# end %>
