<h1>New Categories</h1>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <%= render 'form', category: @category %>
      <br>
      <%= link_to 'Back', categories_path, :class => "btn btn-outline-dark shadow-none" %>
      <br>
      <br>
    </div>
  </div>
</div>
