<!--<div class="p-4 p-md-5 mb-4">-->
<!--  <div class="px-0 p-4">-->
<!--    <h1 class="display-4 font-italic text-center">All Categories</h1>-->
<!--  </div>-->
<!--</div>-->
<%#= link_to 'New category', new_category_path, class: 'btn btn-outline-primary btn-sm' %>
<!--<section id="categories">-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name category</th>-->
<!--      <th>Parent category</th>-->
<!--      <th></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @categories.each do |category| %>
<!--      <tr>-->
<!--        <td><%#= category.parent.name if category.parent.present? %></td>-->
<!--        <td><%#= category.name %></td>-->
<!--        <td>-->
          <%#= link_to 'Edit', edit_category_path(category), class: 'btn btn-outline-primary btn-sm' %>

          <%#= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Sur you?' }, class: 'btn btn-outline-danger btn-sm' %>
<!--        </td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--</section>-->

